body	{
	margin: 0; padding: 0;
}

body div	{
	font-family:arial; font-size:14px; 
}

.logo	{
	cursor:pointer;
}

.page-title	{
	font-size:48px; color:#8CC63E; margin:20px; line-height:1.5;
}

.page-title-sub	{
	font-size:26px;
}

.maincontent	{
	display:table-cell; width1:calc:(100% - 200px); text-align:center; vertical-align: top
}

.para	{
	font-size:16px; line-height:1.6;
}

.code	{
	max-width:calc(100% - 200px); background:#FFE; text-align:left; padding:20px;
	border-top:1px solid #CCC; border-bottom:1px solid #CCC; overflow:auto;
}

.footer	{
	max-width:calc(100% - 250px); text-align:center; padding:10px 0px 10px 0px; width:100%; color:#AAA; border-top:1px solid #CCC;
}

.section-title	{
	font-size:24px; color:#666666; margin:20px
}

.site-side-panel	{
	position:fixed; top:0px;
	display1:table-cell; width:250px; height: 100%; background:#8CC63E;
}

.prompt	{
	font-size:16px; color: #666666;
}

.input	{
	font-size:16px; color: #666666;
}

.side-link	{
	margin:5px; padding:5px; font-weight1:bold; font-size:18px; text-decoration1: underline; cursor:pointer; color:#FFF;
	border-bottom:1px solid #ACE65E;
}

.svgup-icon-wrapper	{
	display:inline-block; width: 100px; height:100px;
}

.svgup-icon-wrapper-large	{
	display:inline-block; width: 120px; height:120px;
}

.svgup-icon-fisheye	{
	display:inline-block; width: 40px; height:30px; display:table-cell; vertical-align: bottom;
}

.svgup-icon-fisheye-vert	{
	display1:inline-block; width: 30px; height:30px; display1:table-cell; vertical-align: bottom;
}

.effect-panel	{
	text-align:left; width:400px; border-bottom1:1px solid #AAA; display:inline-block; margin:20px; padding:20px;
}

svg	* {
	transition: all 0.5s;
}
